/* || FONTS */
@font-face {
    font-family: "CrimsonPro";
    src: url("../fonts/CrimsonPro-Black.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "CrimsonPro";
    src: url("../fonts/CrimsonPro-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

/* || RESETS */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

fieldset {
    border: none; /* get rid of default border */
    padding: 0px;
    margin: 0px;
}

legend {
    padding: 0px;
}

/* || VARIABLES */
:root {
    --main-font: CrimsonPro;
    --primary-background: #0095ff;
    --radius: 15px;
}

/* || GENERAL STYLES */
body {
    font-family: var(--main-font);
    margin: 0px;
    display: grid;
    grid-template-rows: 75px 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    gap: 40px; /* spacing between table and new book btn */
}

dialog {
    position: relative; /* to position close btn */
    width: 450px;
    padding: 40px;
}

button {
    font-family: var(--main-font);
    cursor: pointer;
}

/* || HEADER */
.header {
    justify-self: stretch; /* so div takes up full width */
    background-color: var(--primary-background);
}

.header h1 {
    text-align: center;
    color: white;
}

/* || MODAL */
dialog {
    border: none; /* get rid of default border */
    border-radius: var(--radius);
}

.dialog-btn,
.form-submit-btn {
    color: white;
    background-color: #00a400;
    border: none;
    border-radius: 15px;
    width: 120px;
    height: 30px;
}

.dialog-btn:hover,
.form-submit-btn:hover {
    background-color: #009200;
}

.dialog-btn:active,
.form-submit-btn:active {
    outline: 1px solid #00a400;
    background-color: #00a400;
}

.dialog-btn-close {
    display: flex; /* center svg */
    justify-content: center;
    align-items: center;
    position: absolute; /* to put close btn in top right corner */
    top: 0px;
    right: 0px;
    background-color: white;
    border: none;
    border-radius: 100%;
    width: 30px;
    height: 30px;
}

.dialog-btn-close:hover {
    background-color: rgb(240, 240, 240);
}

.close-svg:hover {
    stroke: red;
    fill: red;
}

/* || FORM */
.form-control {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; /* avoid stretching */
    align-items: center;
    margin-bottom: 20px;
}

.form-control input {
    font-family: var(--main-font);
    border: 1px solid #dadada;
    border-radius: 5px;
    padding: 5px;
}

.form-control input:focus {
    outline: 1px solid #008cff;
    box-shadow: 0px 0px 5px 3px #dadada;
}

.form-control input:user-invalid {
    outline: 1px solid #ff0000;
}

.form-control input[type="text"],
.form-control input[type="number"] {
    width: 150px;
}

.form-control label,
.form-control-radio label {
    padding-right: 20px;
}

.form-control label {
    text-align: right; /* so text is next to form control */
    width: 160px;
}

.form-control-radio {
    display: block; /* to use floats to position radio btns */
    margin-bottom: 20px;
}

.form-control-radio legend,
.form-control-radio input,
.form-control-radio label {
    font-family: var(--main-font);
    float: left;
}

.form-control-radio legend {
    text-align: right;
    padding-left: 3px; /* to align label with other form controls */
    padding-right: 17px;
}

.form-control:last-child {
    margin: 0px;
}

.form-submit-btn {
    margin: 0px auto;
    margin-top: 20px;
}

/* || TABLE */
table {
    table-layout: fixed; /* so cell dimensions do not change with content */
    border-spacing: 0px;
    border-collapse: collapse; /* get rid of spacing between cells */
    border: none;
    border-radius: var(--radius);
    box-shadow: 0px 1px 10px 1px #e1e1e1;
}

caption {
    margin-bottom: 15px;
}

th,
td {
    border: none;
    text-align: center;
    padding: 10px;
}

table:has(tbody tr) th {
    border-bottom: 1px solid #e1e1e1; /* separate header from table data when table not empty */
}

td {
    height: 60px;
}

th:first-child,
th:nth-child(2) {
    width: 250px;
}

th:nth-child(3),
th:nth-child(4) {
    width: 90px;
}

th:nth-child(5) {
    width: 175px;
}

.read-btn,
.delete-btn {
    color: white;
    background-color: var(--primary-background);
    border: none;
    border-radius: 15px;
    height: 25px;
}

.read-btn:hover,
.delete-btn:hover {
    background-color: #00abe3;
}

.read-btn:active,
.delete-btn:active {
    outline: 1px solid #00a6ff;
    background-color: var(--primary-background);
}