/* || RESETS */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* || VARIABLES */

/* || GENERAL STYLES */
table {
    border-spacing: 0px;
    border-collapse: collapse; /* Get rid of spacing between cells */
}

th,
td {
    border: 1px solid black;
    padding: 10px;
}

dialog {
    position: relative;
    padding: 50px;
}

/* || Modal */
.dialog-btn-close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: white;
    border: none;
    border-radius: 100%;
    width: 30px;
    height: 30px;
}

.dialog-btn-close:hover {
    background-color: rgb(240, 240, 240);
}

.close-svg:hover {
    stroke: red;
    fill: red;
}